<title>Choose Your Own Adventure</title>
<h1>Start your adventure!</h1>
<p>Do so by clicking on one of the Stories listed below.</p>
<br />

<% for story in @stories %>
  <p><%=h story.title %> <br />
   <%= link_to 'Start', story %>
  </p>
<% end %>